<div class="container loginForm">
  <div class="row">
    <div class="col s8 offset-s2" class="loginForm">
      <img src="../../assets/img/login_image-min.jpg" alt="Логотип Интаграмм">
      <br>
      <a class="btn waves-effect waves-light loginSubmit"
         href="https://www.instagram.com/oauth/authorize/?client_id=73e72e80c8924dbc9493e9132897597f&redirect_uri=http://localhost:4200/&response_type=token&scope=likes+comments+follower_list"> Войти
        в аккаунт Instagram
        <i class="material-icons right">send</i>
      </a>
    </div>
  </div>
</div>
